footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:77px;
   width:100%;
   background:#999;
    z-index:5000;
}
.botoneliminar{
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline:none;
}
.botoneliminar:hover{
    background-color:#81d4fa;
}
#kanban{
  margin: : 1000px;
}

.tab{
  padding: 15px;
}

.card{
  margin: 10px;
  border:white;
  z-index:1;
}

.contenido{
  padding: 15px;
}

main{
  padding-bottom: 100px;
}
.card  .amber{
   z-index: 2000;
}
header{
  z-index:4900;
}

.caja {
  height: 20%;
  width: 20%;
  position: absolute;
  left: 40%;
  top: 40%;
 }

 .boton-selector{
   margin-top: 9%;
   left: 20%;
   width: 150px;
 }
 .collection-item{
   width: 100%;
 }

 .modal{
   z-index: 4900;
 }

.container{
  position: relative;
  margin-top: 10%;
}
