<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <title>DevTuls</title>
        <!--Materialize-->
        <link rel="stylesheet" href="/pub/stylesheets/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Aquí se ve como usar css desde la carpeta public -->
        <link rel="stylesheet" href="/pub/stylesheets/style.css">
    </head>
    <body>
  <!-- Cabecera-->
  <header  class="blue lighten-3 white-text center-align z-depth-3">
    <!--Nav-->
    <div class="navbar-fixed">
      <nav>
        <!--Contenido Dropdown Proyectos-->
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="#!" id="one">one</a></li>
            <li><a href="#!" id="two">two</a></li>
            <li class="divider"></li>
            <li><a href="#!">Nuevo proyecto</a></li>
        </ul>
        <!--Modal añadir-->
        <div id="modal2" class="modal modal-fixed-footer">
          <div class="modal-content">
            <label for="nombre">Agregar miembro</label>
            <input placeholder="Allan Rodriguez" id="nombre" type="text" class="validate">
            <ul class="collection">
              <li class="collection-item dismissable"><div>Allan</div></li>
              <li class="collection-item dismissable"><div>Allan</div></li>
              <li class="collection-item dismissable"><div>Allan</div></li>
              <li class="collection-item dismissable"><div>Allan</div></li>
              <li class="collection-item dismissable"><div>Allan</div></li>
              <li class="collection-item dismissable"><div>Allan</div></li>
              <li class="collection-item dismissable"><div>Allan</div></li>
              <li class="collection-item dismissable"><div>Allan</div></li>
              <li class="collection-item dismissable"><div>Allan</div></li>
              <li class="collection-item dismissable"><div>Allan</div></li>
              <li class="collection-item dismissable"><div>Allan</div></li>
              <li class="collection-item dismissable"><div>Allan</div></li>
              <li class="collection-item dismissable"><div>Allan</div></li>
              <li class="collection-item dismissable"><div>Allan</div></li>
              <li class="collection-item dismissable"><div>Allan</div></li>
              <li class="collection-item dismissable"><div>Allan</div></li>
            </ul>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Aceptar</a>
             <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
             <a href="#!" class="modal-action waves-effect waves-green btn-flat">Agregar usuario</a>
          </div>
        </div>
        <!--Contenido Dropdown Miembros-->
        <ul id="dropdown2" class="dropdown-content">
          <li><a href="#" id="miembros-proyecto">proyectos</a></li>
            <li><a href="#!">Miembros</a></li>
            <ul class= "align-center">
              <li><a class="blue-text lighten-5-text" href="#!" id="one">Miembro uno</a></li>
              <li><a class="blue-text lighten-5-text" href="#!" id="one">Miembro dos</a></li>
            </ul>
            <li><a href="#modal2">Añadir</a></li>
            <li class="divider"></li>
            <li><a>Borrar proyecto</a></li>
        </ul>
        <!--Barra de navegacion-->
          <div class="nav-wrapper blue lighten-3 white-text">
              <a href="#" class="brand-logo center">DevTuls</a>
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                      <!--<li><a href="#/">Home</a></li>-->
                      <li><a href="/kanban">Kanban</a></li>
                      <li><a href="/logout">Logout</a></li>

            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
             <li><a id="idproyecto"class="dropdown-button"  data-activates="dropdown1">Proyectos <i class="material-icons right">arrow_drop_down</i></a></li>
             <li><a id="idmiembros"class="dropdown-button"  data-activates="dropdown2"><i class="material-icons right">settings</i></a></li>
           </ul>
        </div>
      </nav>
   </div>
 </header>
   <!--Tablero-->
   <main class="tab">

   </main>
   <!--Footer-->
   <footer class="page-footer blue lighten-3 z-depth-4">
     <div class="white-text center-align">
       Desarrollado por:
       <br>
       ACJM
     </div>
   </footer>
<!--Importar Scripts-->
<script src='/node/jquery.min.js'></script>
<script src='/node1/jquery-ui.min.js'></script>
<script src='/socket/socket.io.js'></script>
<script src='/pub/js/javascript.js'></script>
<script src='/pub/js/materialize.min.js'></script>
    </body>
</html>
